@font-face {
  font-family: "BalooBhai";
  src: url(/aseets/fonts/BalooBhai2-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Oswald";
  src: url(/aseets/fonts/Oswald-Medium.ttf);
}

@font-face {
  font-family: "Teko";
  src: url(/aseets/fonts/Teko-Light.ttf);
}
@font-face {
  font-family: "YanoneKaffeesatz";
  src: url(/aseets/fonts/YanoneKaffeesatz-VariableFont_wght.ttf);
}
